body{
    background-color: rgb(68, 39, 87);
}
.kenar{
    width:25%;
    background-color: rgba(255, 255, 255, 0.116);
    margin:3rem;
    margin-top:7rem;
    border-radius: 2%;
    height: 2295px;
    padding-top: 2rem;
    text-align: center;
    font-size:x-large;
    float:left;
    

}
.başlık{
    width:50%;
    background-color: rgba(255, 255, 255, 0.116);
    margin:3rem;
    margin-top:7rem;
    border-radius: 2%;
    height: 125px;
    text-align: center;
    font-size:x-large;
    float:left;
    padding-top:1rem;
    
    
}
.orta{
    width:50%;
    background-color: rgba(255, 255, 255, 0.116);
    margin:2rem;
    border-radius: 2%;
    height: 490px;
    padding-left:1rem;
    text-align:left;
    font-size:21px;
    float:left;
    padding-top:1rem;

}
.ortaalt{
    width:50%;
    background-color: rgba(255, 255, 255, 0.116);
    margin:2rem;
    margin-top:1rem;
    border-radius: 2%;
    height: 490px;
    padding-left:1rem;
    text-align:left;
    font-size:21px;
    float:left;
    padding-top:1rem;

}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
    margin:0px;
    padding:0px;
    font-family: 'montserrat',sans-serif;
}
nav{
    
    width:100%;
    height:75px;
    line-height: 75px;
    padding:0px 100px;
    margin-top:1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.288), rgb(238, 245, 228)) ;
}
nav .logo p{
    font-size:30px;
    font-weight: bold;
    float:left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}
nav ul{
    float:right;
}
nav li{
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
    display:inline-block;
    list-style: none;
}
nav li a{
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:18px;
    text-transform: uppercase;
    padding: 0px, 30px;
    color:white;
    text-decoration: none;
}
nav li a:hover{
    color:rgb(243, 197, 243);
    transition: all, 0.4s, ease 0s;
}

/*cep telefonu için*/

@media only screen and (max-width:768px){
    .kenar{flex-wrap:wrap; width:20%; font-size: large;}
    .başlık{flex-wrap: wrap; font-size:large; height: 135px;}
    .orta{display:flex;flex-wrap: wrap; height:480px;}
    .ortaalt{display:flex;flex-wrap: wrap;}

}