body{
background:url(img/arkaplan2.jpg);
}
.hakkımda{
    background-color: rgba(250, 235, 215, 0.137);
    width:50%;
    height:350px;
    margin:auto;
    margin-top: 12%;
    border-radius: 5%;
    
    font-size: x-large;
    font-weight: bolder;
    
    padding-top: 2rem;;
}
.foto{
    width:25%;
    border-radius: 50%;
    margin-top:55px;
    padding-left:2rem;
    float:left;
    padding-right:2rem;

}
.metin{
    padding-left:17rem;
    padding-right: 2rem;
    padding-top: 2rem;;
   
    
}
