.deneme{
    display: flex;
    height: auto;
    width: auto;
    
}
.card-text{
    font-size:18px;
    font-weight: 800;
    
}
.card-title{
    font-weight: bold;
    font-size:20x;
}
.card-mb-3{
    margin-left:700px;
}

/*cep telefonu için*/

@media  (max-width:768px){
    .deneme{flex-wrap:wrap;}
    .card-mb-4{flex-wrap: wrap;}

}