*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family: 'montserrat',sans-serif;
}
nav{
    margin:0px;
    padding:0px;
    font-family: 'montserrat',sans-serif;
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
    width:100%;
    height:75px;
    line-height: 75px;
    padding:0px 100px;
    margin-top:1rem;
    display:flex;
    background-image: linear-gradient(rgba(121, 56, 173, 0.877), rgba(175, 102, 102, 0.281)) ;
}
nav .logo p{
    font-size:30px;
    font-weight: bold;
    float:left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}
nav ul{
    float:right;
}
nav li{
    display:inline-block;
    list-style: none;
    margin-left:50px
}
nav li a{
    font-size:18px;
    text-transform: uppercase;
    padding: 0px, 30px;
    color:white;
    text-decoration: none;
}
nav li a:hover{
    color:rgb(243, 197, 243);
    transition: all, 0.5s, ease 0s;
}
